# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /data/db
  journal:
    enabled: true
#  engine:
#  mmapv1:
{% if WIREDTIGER_ENGINE_CACHESIZEGB|length %}
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ WIREDTIGER_ENGINE_CACHESIZEGB }}
{% endif %}

# network interfaces
net:
  port: {{ NET_PORT }}
  bindIp: {{ NET_BINDIP }}
{% if SECURITY_CLUSTER_AUTH_MODE is defined %}
  ssl:
    mode: {{ NET_SSL_MODE }}
    PEMKeyFile: {{ NET_SSL_PEM_KEYFILE }}
    CAFile: {{ NET_SSL_CA_FILE }}
    clusterFile: {{ NET_SSL_CLUSTER_FILE }}
{% endif %}



# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:
  authorization: {{ SECURITY_AUTHORIZATION }}
{% if SECURITY_KEYFILE is defined %}
  keyFile: /etc/mongo/certificates/{{ SECURITY_KEYFILE }}
{% elif SECURITY_CLUSTER_AUTH_MODE is defined %}
  clusterAuthMode: {{SECURITY_CLUSTER_AUTH_MODE}}
{% endif %}

#operationProfiling:

{% if REPLICATION_NAME is defined %}
replication:
  replSetName: {{ REPLICATION_NAME }}
{% endif %}

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
