# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /data/db
  journal:
    enabled: true
#  engine:
#  mmapv1:
{% if WIREDTIGER_ENGINE_CACHESIZEGB|length %}
  wiredTiger:
    engineConfig:
      cacheSizeGB: {{ WIREDTIGER_ENGINE_CACHESIZEGB }}
{% endif %}

# network interfaces
net:
  port: {{ NET_PORT }}
  bindIp: {{ NET_BINDIP }}
{% if SECURITY_CLUSTER_AUTH_MODE == 'x509' or SECURITY_CLUSTER_AUTH_MODE == 'sendX509' %}
  ssl:
    mode: {{ NET_SSL_MODE }}
    PEMKeyFile: {{ NET_SSL_PEM_KEYFILE }}
    CAFile: {{ NET_SSL_CA_FILE }}
    clusterFile: {{ NET_SSL_CLUSTER_FILE }}
{% endif %}



# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:
  authorization: {{ SECURITY_AUTHORIZATION }}
{% if SECURITY_CLUSTER_AUTH_MODE == 'x509' or SECURITY_CLUSTER_AUTH_MODE == 'sendX509' %}
  clusterAuthMode {{SECURITY_CLUSTER_AUTH_MODE}}
{% elif SECURITY_KEYFILE != '' %}
  keyFile: /etc/mongo/certificates/{{ SECURITY_KEYFILE }}
{% endif %}

#operationProfiling:

{% if REPLICATION_NAME != '' %}
replication:
  replSetName: {{ REPLICATION_NAME }}
{% endif %}

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
