mongo --eval 'rs.initiate({_id:"{{REPLICATION_NAME}}",version:1,members:[{_id:0,host:"localhost:{{NET_PORT}}"}]})'
mongo --eval 'db.getSiblingDB("admin").createUser({"user":"{{ROOT_USERNAME}}","pwd":"{{ROOT_PASSWORD}}",roles:[{"role":"clusterAdmin","db":"admin"}]})'